*{
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: black;
  font-size: 16px;
}

:root {
  --blue: #4b98ff;
  --orange: #ff5733;
  --void: #0e0b16;
  --fuschia: #a239ca;
  --jewel: #4717f6;
  --stark: #e7dfdd;
}

h1{
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

.link-animation {
  background-image: linear-gradient(
    to right,
    var(--jewel),
    var(--jewel) 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.link-animation:before {
  content: '';
  background: var(--jewel);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.link-animation:hover {
 background-position: 0;
}

.link-animation:hover::before {
  width:100%;
}



/*Navbar*/

.navbar {
  height: auto;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.logo {
  padding: 20px 34px;
}

.menu {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.menu-item {
  text-decoration: none;
  margin: 0 10px;
  padding: 0 4px;
}


/*Helpers*/
.cbd {
  border: 1px solid red;
}
